<section class="welcome" id="home">
    <div class="welcome__wrapper">

        <div class="welcome__cont">
            <div class="welcome__laptop">
                <img class="welcome__laptop-img img-responsive" src="img/welcome/laptop-sub.png" alt="laptop"> 

                <div class="welcome__coffee">
                    <img class="welcome__coffee-img img-responsive" id="coffee1" src="img/welcome/coffee-empty.png" alt="coffee">
                    <img class="welcome__coffee-img img-responsive" id="coffee2" src="img/welcome/coffee-cold.png" alt="coffee">
                    <img class="welcome__coffee-img img-responsive" id="coffee3" src="img/welcome/coffee-full.png" alt="coffee"> 
                </div>
            
                <div class="welcome__scene">
                    <div id="typewriterHi"></div>
                    <div id="typewriterName"></div>
                    <div id="typewriterWeb"></div>
                    <div id="typewriterLike"></div>
                </div>
            </div>
        </div>

         <div class="welcome__esc">Press "ESC" button to stop typing</div>
         <a class="welcome__scroll" href="#skills"><span></span></a>
    
    </div>
</section>